
<%= simple_form_for(@idc) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.input :title, wrapper_html: { class: "col-md-5" }  %>
    <%= f.input :sku  ,  wrapper_html: { class: "col-md-2" }%>
    <%= f.input :oldprice,  wrapper_html: { class: "col-md-2" } %>
    <%= f.input :price,  wrapper_html: { class: "col-md-2" } %>
    <%= f.input :quantity,  wrapper_html: { class: "col-md-1" } %>
    <%= f.input :desc, wrapper_html: { class: "col-md-12" } %>
    <%= f.input :cat, wrapper_html: { class: "col-md-6" } %>
    <%= f.input :charact_gab, wrapper_html: { class: "col-md-6" } %>
    <%= f.input :charact, wrapper_html: { class: "col-md-12" } %>
    <% if @idc.url.present? %><%= link_to 'Товар у поставщика', @idc.url , class: "d-flex align-items-center", target: 'blank' %><%end%>
  </div>
  <% if @idc.image.present? %>
  <div class="d-flex ml-0 mr-0">
  <% @idc.image.split(' ').each do |pict| %>
  <div class="w-25"><img class="img-fluid img-thumbnail" src="<%= pict %>"></div>
  <% end %>
  </div>
  <%end%>

  <div class="form-actions mt-4">
    <%= f.button :submit , class: "btn btn-outline-success" %>
    <%= link_to 'Back', idcs_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
