<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @idc.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @idc.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @idc.desc %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @idc.cat %>
</p>

<p>
  <strong>Charact:</strong>
  <%= @idc.charact %>
</p>

<p>
  <strong>Charact gab:</strong>
  <%= @idc.charact_gab %>
</p>

<p>
  <strong>Oldprice:</strong>
  <%= @idc.oldprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @idc.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @idc.quantity %>
</p>

<p>
  <strong>Image:</strong>
  <%= @idc.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @idc.url %>
</p>

<%= link_to 'Edit', edit_idc_path(@idc) %> |
<%= link_to 'Back', idcs_path %>
