
<%= simple_form_for(@kare) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs row mb-4">
    <div class="col-12 d-flex justify-content-start align-items-center">
    <div class="h5 p-0 m-0"><%= title %></div>
    <% if @kare.url.present? %><%= link_to 'Товар у поставщика', @kare.url , class: "ml-2 d-flex align-items-center", target: 'blank' %><%end%>
    </div>
  </div>
  <div class="form-inputs row">
    <%= f.input :title, wrapper_html: { class: "col-md-6" }  %>
    <%= f.input :sku  ,  wrapper_html: { class: "col-md-2" }%>
    <%= f.input :price,  wrapper_html: { class: "col-md-2" } %>
    <%= f.input :quantity,  wrapper_html: { class: "col-md-2" } %>
    <%= f.input :desc, wrapper_html: { class: "col-md-12" } %>
    <%= f.input :cat, wrapper_html: { class: "col-md-4" } %>
    <%= f.input :charact, wrapper_html: { class: "col-md-8" } %>
  </div>
  <% if @kare.image.present? %>
    <div class="row ml-0 mr-0">
      <% @kare.image.split(' ').each do |pict| %>
        <div class="w-25"><img class="img-fluid img-thumbnail" src="<%= pict %>"></div>
      <% end %>
    </div>
  <%end%>

  <div class="form-actions mt-4">
    <%= f.button :submit , class: "btn btn-outline-success" %>
    <%= link_to 'Back', kares_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
