<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @kare.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @kare.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @kare.desc %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @kare.cat %>
</p>

<p>
  <strong>Charact:</strong>
  <%= @kare.charact %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kare.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @kare.quantity %>
</p>

<p>
  <strong>Image:</strong>
  <%= @kare.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @kare.url %>
</p>

<%= link_to 'Edit', edit_kare_path(@kare) %> |
<%= link_to 'Back', kares_path %>
