<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <title><%= content_for?(:title) ? yield(:title) : "Detail" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Detail" %>">
    <meta name="turbo-prefetch" content="false">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <% if user_signed_in? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container-fluid mb-5">
      <div id="our_flash" class="position-absolute z-1 start-50 translate-middle-x w-50" style="top: 60px;">
        <%= render "shared/flash"%>
      </div>
      <%= render "shared/modal_wrap"%>
       <%= turbo_stream_from "bulk_actions"%>
       <%= yield %>
    </main>
      <footer class="text-muted bg-light pt-3 pb-3 mt-auto">
        <div class="container d-flex justify-content-between align-items-center">
          <p>detail <a href="http://#" target="_blank">Visit us</a></p>
          <a href="#">Back to top</a>
        </div>
      </footer>


    <% else %>
      <%= yield %>
    <% end %>


  </body>
</html>
